body {
	background-color: rgb(197, 208, 189);
}

.frontpage {
	width: 800px;
	background-color: white;
	margin: auto;
	padding: 50px;
}

.content_container {
	width: 500px;
	margin: auto; /* centers */
}

.graph {
	width: 100%;
}
.graph-1-2 {
	width: 50%;
}
.graph-1-3 {
	width: 33.33%;
}
.graph-2-3 {
	width: 66.67%;
}

.text {
	position: relative;
	padding: 5px;
}

h1 {
    text-align: center;
    color: #00441b;
    font-size: 40px;
}

h2 {
	text-align: center;
	color: #00441b;
	font-size: 20px;
}

p {
	font-size: 12px;
}