/* font-family: 'Domine', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace; */

body {
	background-color: rgb(255, 255, 255);
}

body *{
	font-family: 'Domine', serif;
}

h1 {
	text-align: center;
	color: black;
	font-size: 40px;
	font-family: "Roboto Mono", monospace;
}

h2 {
	text-align: center;
	color: black;
	font-size: 30px;
	font-family: "Roboto Condensed", sans-serif;
}

h3 {
	text-align: left;
	color: black;
	font-size: 20px;
}

p {
	font-size: 14px;
}

bold {
	font-weight: bold;
}


.whitepage {
	width: 1200px;
	/* background-color: rgb(255, 255, 255); */
	margin: auto;
	padding-top: 50px;
}

.frontpage {
	width: 1200px;
	/* background-color: rgb(255, 255, 255); */
	margin: auto;
	/* padding: 50px; */
	padding-top: 25px;
	padding-bottom: 25px;
}



.content_container {
	width: 500px;
	margin: auto; /* centers */
}

.graph {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.graph-1-2 {
	width: 50%;
}
.graph-1-3 {
	width: 33.33%;
}
.graph-2-3 {
	width: 66.67%;
}

.text {
	margin: auto;
	width: 90%;
	position: relative;
	padding: 5px;
	text-align: justify;
}

.header {
	padding: 25px 0;
	background-color: black;
	text-align: center;
}

.divider {
	width: 100%;
	padding: 1px 0;
	padding-top: 50px;
	padding-bottom: 25px;
	/* border-bottom: 5px solid #3a4339 ; */
}

.divider-inner {
	width: 20%;
	padding: 1px 0;
	border-bottom: 3px solid black ;
	margin: auto;
}

.bottom-line {
	width: 100%;
	padding: 1px 0;
	border-bottom: 2px solid black ;
}

.textbound {
	margin: auto;
	width: 70%;
}

.textCols2 {
	/* margin: auto; */
	column-count: 2;
	text-align: justify;
	column-gap: 40px;
}

#link {
	color: rgb(73, 73, 73);
	font-size: 10px;
}

#whiteHeader {
	width: 100%;
	color: white;
}

#darkHeader {
	color: black;
	text-align: center;
}

#map1 {
	/* margin: auto; */
	padding-top: 3%;
	padding-bottom: 10%;
}

#map2 {
	margin: auto;
	height: 300px;
	width: 100%;
	padding: 50px 0;
}