body {
	background-color: rgb(255, 255, 255);
}

.whitepage {
	width: 1200px;
	background-color: rgb(255, 255, 255);
	margin: auto;
	padding-top: 50px;
}

.frontpage {
	width: 1200px;
	background-color: rgb(255, 255, 255);
	margin: auto;
	/* padding: 50px; */
	padding-top: 25px;
	padding-bottom: 25px;
}


h1 {
	text-align: center;
	color: #00441b;
	font-size: 40px;
}

h2 {
	text-align: center;
	color: #00441b;
	font-size: 26px;
}

p {
	font-size: 12px;
}

.content_container {
	width: 500px;
	margin: auto; /* centers */
}

.graph {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.graph-1-2 {
	width: 50%;
}
.graph-1-3 {
	width: 33.33%;
}
.graph-2-3 {
	width: 66.67%;
}

.text {
	width: 90%;
	position: relative;
	padding: 5px;
}

.header {
	padding: 1px 0;
	background-color: #3a4339;
	text-align: center;
}

.divider {
	width: 100%;
	padding: 1px 0;
	/* border-bottom: 5px solid #3a4339 ; */
}

.textbound {
	margin: auto;
	width: 60%;
}

.divider-inner {
	width: 75%;
	padding: 1px 0;
	border-bottom: 5px solid #3a4339 ;
	margin: auto;
}

#whiteHeader {
	width: 100%;
	color: white;
}

#darkHeader {
	color: #3a4339;
	text-align: center;
}

#map2 {
	height: 100%;
	width: 100%;
}